html {
    background-color: gray;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.form {
    background-color: rgb(255, 255, 255);
    position: relative;
    height: 100%;
    width: 100%;
    visibility: visible;    
}

.ct {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.abs {
    position: absolute;
}

.rel {
    position: relative;
}

.flx {
    display: flex;
}

.vert {
    flex-direction: row;
}

.of {
    overflow: auto;
}

.cr3 {
    border-color: transparent;
    border-width: 0px;
    border-radius: 3%;
}

.cr5 {
    border-color: transparent;
    border-width: 0px;
    border-radius: 5%;
}

.tr {
    transform: translate(-50%,0);
}

.txs {
    font-size: x-small;
    color: aqua;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
    position: absolute;
}


table {
    display: flex;
    flex-flow: column;
    width: 100%;
}

thead {
    flex: 0 0 auto;
    background-color: #242424;
    height: 25px;
    color: white;
}

tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

tr {
    width: 100%;
    display: table;
    table-layout: fixed;
    text-align: center;
}

#Room_Panel {
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
    transform: translate(-50%,-50%);
    background-color: white;
}

.Panel {
    background-color: white;
}

#Check_In_Panel {
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
    transform: translate(-50%,-50%);
}

.trns {
    transform: translate(-50%,-50%);
}

.center {
    align-items: center;
    justify-content: center;
}

#Tabs button {
    width: 33.33%;
    margin-bottom: 20px;
}

#Tabs #Tb1 {
    border-top-left-radius: 8px;
}

#Tabs #Tb3 {
    border-top-right-radius: 8px;
}

#Panel1 {
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5)
}

#Tab1 {
    padding-left: 30px;
}

.flex2 {
    padding: 0px 10px 10px 10px;
    justify-content: space-between;
}

#table1,#table2 {
    padding: 0px 10px 10px 10px;
}

#table3 {
    padding: 0px 0px 100px 100px;
}

.p100 {
    padding: 0px 0px 100px 100px;
}

#form2 {
    background-color: gray;
}

.flxi {
    display: flex;
    flex-direction: column;
}

.blk {
    display: flex;
    flex-direction: row;
}

#form2 input {
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
    margin: 5px;
}

.Card {
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5)
}